pydantic
fastapi
pytest
uvicorn[standard]
httpx
requests
llama-index
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
ollama
qdrant-client
starlette
streamlit
requests
SQLAlchemy
alembic
asyncpg
greenlet